.loginContainer{
       width: 400px;
       background-color: grey;
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 30px;
       align-items: center;
       margin: auto;
}
.loginContainer input{
    padding: 10px 30px;
    border-radius: 2px;
    background-color: black;
    border: none;
    color: grey;
}
.loginContainer button{
    padding: 8px 90px;
    border-radius: 10px;
    background-color: blue;
    border: none;
}
.loginContainer .link{
    background-color: inherit;
    color: inherit;
    padding-bottom: 20px;
}